@font-face {
  font-family: Micro5;
  src: url(../assets/fonts/Micro5/Micro5-Regular.ttf);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
    font-family: "Micro5", "Helvetica", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
}

#game-start-screen h1,
#game-win-screen h1,
#game-over-screen h1 {
  font-size: 100px;
}

.menu-container-main-content p {
  font-size: 64px;
  text-align: center;
}


.game-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 910px;
}

.main-content-container {
  display: flex;
  background-color: #222222;
  width: 1440px;
  height: 810px;
}

.menu-container {
  padding: 32px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#game-start-screen,
#gameplay-screen,
#game-over-screen,
#game-win-screen {
  display: none;
}

#gameplay-screen {
  cursor: crosshair;
}

#gameplay-container {
  position: relative;
  overflow: hidden;
  user-select: none;
  /* box-sizing: border-box; */
  z-index: -100;
  background-image: url("../assets/images/terrain/desert.png");
  background-repeat: repeat;
}

#gameplay-container *, #top-ui *, #bottom-ui * {
  pointer-events: none;
  user-select: none;
}

#top-ui, #bottom-ui {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

#top-ui {
  justify-content: space-between;
  padding: 0 8px;
}

#bottom-ui {
  justify-content: center;
}

#health-bar-container {
  position: relative;
  width: 100%;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: #CC0000;
}

#health-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00EE00;
}

#health-text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.start-game-btn,
.restart-game-btn {
  width: 256px;
  height: 64px;
  font-size: 48px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.restart-game-btn {
  background-color: #FF0000;
}

.start-game-btn {
  background-color: #00EE00;
}

#controls-table {
  font-size: 32px;
}

#controls-table td:first-child {
  text-align: center;
  padding-right: 16px;
}

#game-start-screen .menu-container-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

#upgrade-menu {
  padding: 8px 32px 32px 32px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  position: absolute;
  background-color: #444444EE;
  width: 1000px;
  height: 650px;
  border: 2px solid #FFFFFF;
  border-radius: 32px 0px 32px 0px;
  corner-shape: bevel;
}

#upgrade-menu h2 {
  font-size: 64px;
  text-shadow: 2px 2px 2px #000000;
}

#upgrade-menu h3 {
  font-size: 48px;
  text-shadow: 2px 2px 2px #000000;
}

#upgrade-selection, #repair-selection {
  cursor: pointer;
}

#upgrade-selection {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

#repair-selection {
  background-color: #777777;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  corner-shape: bevel;
}

.upgrade-card {
  position: relative;
  width: 33%;
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  corner-shape: bevel;
}

.upgrade-card img {

}

.upgrade-card p {
  position: absolute;
  bottom: 8px;
  font-size: 32px;
  text-shadow: 2px 2px 2px #000000;
}

.bronze-card {
  background-color: #815a2c;
}

.silver-card {
  background-color: #c7c7c7;
}

.gold-card {
  background-color: #ffc800;
}