@font-face {
  font-family: Micro5;
  src: url(../assets/fonts/Micro5/Micro5-Regular.ttf);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
    font-family: "Micro5", "Helvetica", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
}

.game-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
}

.main-content-container {
  display: flex;
  background-color: #222222;
  width: 500px;
  height: 500px;
}

.menu-container {
  padding: 32px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#game-start-screen,
#gameplay-screen,
#game-over-screen,
#game-win-screen {
  display: none;
}

#gameplay-container {
  position: relative;
  /* overflow: hidden; */
  user-select: none;
  /* box-sizing: border-box; */
}

#gameplay-container * {
  pointer-events: none;
}

#top-ui, #bottom-ui {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

#top-ui {
  justify-content: space-between;
  padding: 0 8px;
}

#bottom-ui {
    justify-content: center;
}

#health-bar-container {
  position: relative;
  width: 100%;
  height: 16px;
  border: 1px solid #FFFFFF;
}

#health-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00EE00;
}

#health-text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

